.promocion2{
    position: absolute;
    width: 54px;
    height: 50px;
    top: 24vh;
    left: 11.2vw;
}
.producto2{
    position: relative; //sirve para que el modelo no se desconfigure al usar una ventana más pequeña. 
}